@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  min-width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------*/
.wrapper {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template: 1fr auto minmax(180px, auto)/1fr;
      grid-template-areas: "header" "content" "footer";
}

.header {
  display: -ms-grid;
  display: grid;
  grid-area: "header";
  min-height: 100vh;
  -ms-grid-rows: minmax(160px, auto) 1fr;
  -ms-grid-columns: 1fr;
      grid-template: minmax(160px, auto) 1fr/1fr;
}
.header__top, .header__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 20px minmax(auto, 600px) 20px minmax(auto, 570px) 20px 1fr;
      grid-template: 1fr/1fr minmax(auto, 600px) minmax(auto, 570px) 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.header__logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
.header__menu {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}
.header__link {
  font-size: 12px;
}
.header__list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
}
.header__link {
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-transition: border 0.2s ease;
  transition: border 0.2s ease;
}
.header__link:hover {
  border-bottom: 2px solid #000;
  -webkit-transition: border 0.2s ease;
  transition: border 0.2s ease;
}
.header__text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  row-gap: 50px;
  grid-auto-flow: row;
  -ms-grid-rows: auto 50px 1fr 50px auto;
  -ms-grid-columns: 1fr;
      grid-template: auto 1fr auto/1fr;
}
.header__title {
  line-height: 1.333;
  text-transform: capitalize;
}
.header__discription {
  font-weight: 500;
  font-size: 12px;
  line-height: 2.5;
}
.header__button {
  -ms-grid-column-align: start;
      justify-self: start;
  padding: 15px 25px;
  background: #ffe600;
  -webkit-transition: border-radius 0.2s ease;
  transition: border-radius 0.2s ease;
}
.header__button:hover {
  border-radius: 20px;
  -webkit-transition: border-radius 0.2s ease;
  transition: border-radius 0.2s ease;
}
.header__button:hover a {
  font-weight: 900;
  -webkit-transition: font-weight 0.2s ease;
  transition: font-weight 0.2s ease;
}
.header__button a {
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: font-weight 0.2s ease;
  transition: font-weight 0.2s ease;
}
.header__image {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  position: relative;
  min-height: 540px;
}
.header__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  display: -ms-grid;
  display: grid;
  grid-area: "content";
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 1170px) 1fr;
      grid-template: 1fr/1fr minmax(auto, 1170px) 1fr;
}

.work {
  margin-top: 120px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
.work__title {
  text-transform: uppercase;
}
.work__tabs {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 400px) 620px minmax(auto, 150px) 1fr;
      grid-template: 1fr/1fr minmax(auto, 400px) 620px minmax(auto, 150px) 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 70px 0;
}
.work__types {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
.work__types-list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
}
.work__time {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.work__type {
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  font-size: 12px;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
  padding: 9px 20px;
}
.work__type_active {
  background-color: #ffe600;
}
.work__type:hover {
  background-color: #ffe600;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
.work__name-time {
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  font-size: 12px;
}
.work__case {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
}
.work__item {
  position: relative;
  margin: 15px;
}
.work__item_1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.work__item_2 {
  -ms-grid-row-span: 2;
  grid-row: span 2;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.work__item_3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.work__item_4 {
  -ms-grid-row-span: 2;
  grid-row: span 2;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}
.work__item_5 {
  -ms-grid-row-span: 2;
  grid-row: span 2;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}
.work__item_6 {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}
.work__image {
  position: relative;
  min-height: 300px;
}
.work__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.work__image2 {
  position: relative;
  min-height: 500px;
}
.work__cover {
  display: block;
  position: absolute;
  top: 0;
  height: 0;
  text-align: center;
  background: rgba(255, 230, 0, 0.8);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 0;
}
.work__cover:hover {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.work__item-title {
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  padding-bottom: 30px;
}
.work__item-category {
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
}
.work__button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
  margin-top: 70px;
}
.work__button a {
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  background: #ffe600;
  padding: 15px 25px;
  -webkit-transition: font-weight, border-radius 0.2s ease;
  transition: font-weight, border-radius 0.2s ease;
}
.work__button a:hover {
  border-radius: 20px;
  font-weight: 900;
  -webkit-transition: font-weight, border-radius 0.2s ease;
  transition: font-weight, border-radius 0.2s ease;
}

.patners {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
  margin: 180px 0 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.patners__item {
  position: relative;
  padding: 0 0 45% 0;
}
.patners__item svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.about {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin-bottom: 245px;
}
.about__top {
  font-size: 12px;
  font-weight: 500;
  line-height: 2.5;
  max-width: 555px;
  margin-bottom: 65px;
}
.about__items {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32%, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.about__item {
  position: relative;
}
.about__item:hover .about__cover {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.about__image {
  position: relative;
  min-height: 420px;
}
.about__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.about__cover {
  background-color: #ffe600;
  padding: 15px 30px;
  position: absolute;
  bottom: 0;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  width: 70%;
  font-weight: 500;
  text-transform: capitalize;
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.about__name {
  font-weight: 900;
  color: #000;
  padding-bottom: 15px;
}
.about__job {
  color: #000;
  font-size: 12px;
}
.about__item-title {
  color: #000;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 900;
  padding-bottom: 40px;
  padding-left: 70px;
}
.about__discription {
  font-weight: 500;
  font-size: 12px;
  color: #000;
  line-height: 2.5;
  padding-bottom: 55px;
  padding-left: 70px;
}
.about__read-more {
  text-transform: capitalize;
  color: #000;
  font-weight: 900;
  padding-left: 70px;
}

.blog {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin-bottom: 245px;
}
.blog__top {
  font-size: 12px;
  font-weight: 500;
  line-height: 2.5;
  max-width: 555px;
  margin-bottom: 65px;
}
.blog__items {
  display: -ms-grid;
  display: grid;
  grid-template: 1fr/repeat(auto-fit, minmax(32%, 1fr));
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.blog__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr 1fr auto;
  -ms-grid-columns: 1fr;
      grid-template: auto 1fr 1fr auto/1fr;
}
.blog__img {
  position: relative;
}
.blog__image {
  position: relative;
  min-height: 280px;
}
.blog__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.blog__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 230, 0, 0.8);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.blog__cover:hover {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.blog__item-title {
  font-weight: 900;
  color: #000;
  text-transform: uppercase;
  padding-top: 15px;
}
.blog__discription {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.8;
  padding-bottom: 25px;
}
.blog__data {
  font-size: 12px;
  font-weight: 500;
}

.contact {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
.contact__top {
  font-size: 12px;
  font-weight: 500;
  line-height: 2.5;
  max-width: 700px;
  margin-bottom: 65px;
}
.contact__item-title {
  font-size: 30px;
  font-weight: 900;
  color: #000;
  margin-bottom: 40px;
}
.contact__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 600px) minmax(auto, 570px);
  grid-template-columns: minmax(auto, 600px) minmax(auto, 570px);
}
.contact__input input {
  color: #000;
  font-weight: 900;
  font-size: 12px;
  padding: 10px 5px;
  margin: 10px 0;
  width: 90%;
  -webkit-transition: border 0.4s ease;
  transition: border 0.4s ease;
  border: 1px solid #fff;
}
.contact__input input:focus {
  border: 1px solid #000;
  -webkit-transition: border 0.4s ease;
  transition: border 0.4s ease;
}
.contact__textarea textarea {
  resize: none;
  color: #000;
  font-weight: 900;
  font-size: 12px;
  padding: 10px 5px;
  margin: 10px 0;
  width: 95%;
  -webkit-transition: border 0.4s ease;
  transition: border 0.4s ease;
  border: 1px solid #fff;
}
.contact__textarea textarea:focus {
  border: 1px solid #000;
  -webkit-transition: border 0.4s ease;
  transition: border 0.4s ease;
}
.contact__button {
  -ms-grid-column-align: start;
      justify-self: start;
  padding: 15px 25px;
  background: #ffe600;
  margin-top: 30px;
  -webkit-transition: border-radius 0.2s ease;
  transition: border-radius 0.2s ease;
}
.contact__button:hover {
  border-radius: 20px;
  -webkit-transition: border-radius 0.2s ease;
  transition: border-radius 0.2s ease;
}
.contact__button:hover a {
  font-weight: 900;
  -webkit-transition: font-weight 0.2s ease;
  transition: font-weight 0.2s ease;
}
.contact__button a {
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: font-weight 0.2s ease;
  transition: font-weight 0.2s ease;
}
.contact__image {
  position: relative;
  min-height: 470px;
}
.contact__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.contact__info {
  max-width: 600px;
  margin: 65px auto 0;
  -webkit-column-gap: 75px;
     -moz-column-gap: 75px;
          column-gap: 75px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
}
.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.contact__icon {
  padding-bottom: 25px;
}
.contact__discription {
  font-weight: 500;
  font-size: 12px;
}
.contact svg {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  padding: 10px;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
}
.contact svg:hover {
  background-color: #ffe600;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
}
.contact__social-media {
  max-width: 400px;
  margin: 0 auto;
  padding: 75px 0;
}
.contact__social-media-item {
  padding: 0 35px;
}

.title {
  font-size: 60px;
  font-weight: 900;
  color: #000;
  text-transform: uppercase;
}

.footer {
  background: #1e1e1e;
  display: -ms-grid;
  display: grid;
  grid-area: "content";
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 1170px) 1fr;
      grid-template: 1fr/1fr minmax(auto, 1170px) 1fr;
}
.footer__container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
.footer__logo div {
  padding-left: 20px;
}
.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}
.footer__button h6 {
  padding-right: 10px;
}

@media (max-width: 1200px) {
  .header {
    -ms-grid-rows: minmax(80px, auto) 1fr;
    -ms-grid-columns: 1fr;
        grid-template: minmax(80px, auto) 1fr/1fr;
  }
  .header__top, .header__content {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 10px minmax(auto, 500px) 10px minmax(auto, 400px) 10px 1fr;
        grid-template: 1fr/1fr minmax(auto, 500px) minmax(auto, 400px) 1fr;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
  .header__discription {
    line-height: 1.8;
  }

  .content {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr minmax(auto, 900px) 1fr;
        grid-template: 1fr/1fr minmax(auto, 900px) 1fr;
  }

  .work {
    margin-top: 60px;
  }
  .work__tabs {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr minmax(auto, 400px) 350px minmax(auto, 150px) 1fr;
        grid-template: 1fr/1fr minmax(auto, 400px) 350px minmax(auto, 150px) 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 70px 0;
  }
  .work__case {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  }
  .work__item {
    position: relative;
    margin: 15px;
  }
  .work__item_2 {
    -ms-grid-row-span: 1;
    grid-row: span 1;
  }
  .work__item_4 {
    -ms-grid-row-span: 1;
    grid-row: span 1;
  }
  .work__item_5 {
    -ms-grid-row-span: 1;
    grid-row: span 1;
  }
  .work__image {
    min-height: 300px;
  }
  .work__image2 {
    min-height: 300px;
  }

  .patners {
    margin: 50px 0;
  }
  .patners__item {
    margin: 20px 0;
  }

  .about {
    margin-bottom: 50px;
  }
  .about__top {
    margin-bottom: 30px;
  }
  .about__item-title {
    padding-left: 10px;
    padding-bottom: 20px;
  }
  .about__discription {
    padding-left: 10px;
    padding-bottom: 20px;
  }
  .about__read-more {
    padding-left: 10px;
  }

  .blog {
    margin-bottom: 50px;
  }
  .blog__top {
    margin-bottom: 30px;
  }
  .blog__discription {
    line-height: 1.5;
    padding-bottom: 10px;
  }

  .contact {
    margin-bottom: 50px;
  }
  .contact__top {
    margin-bottom: 30px;
  }
  .contact__discription {
    line-height: 1.5;
    padding-bottom: 10px;
  }
  .contact__content {
    -ms-grid-columns: minmax(auto, 400px) minmax(auto, 500px);
    grid-template-columns: minmax(auto, 400px) minmax(auto, 500px);
  }

  .title {
    font-size: 50px;
    line-height: 1.5;
  }

  .text {
    line-height: 1.7;
  }

  .footer {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr minmax(auto, 900px) 1fr;
        grid-template: 1fr/1fr minmax(auto, 900px) 1fr;
  }
}
@media (max-width: 940px) {
  .header {
    -ms-grid-rows: minmax(50px, auto) 1fr;
    -ms-grid-columns: 1fr;
        grid-template: minmax(50px, auto) 1fr/1fr;
  }
  .header__top {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 10px minmax(auto, 300px) 10px minmax(auto, 400px) 10px 1fr;
        grid-template: 1fr/1fr minmax(auto, 300px) minmax(auto, 400px) 1fr;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
  .header__content {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr minmax(auto, 300px) minmax(auto, 400px) 1fr;
        grid-template: 1fr/1fr minmax(auto, 300px) minmax(auto, 400px) 1fr;
  }
  .header__image {
    min-height: 400px;
  }
  .header__discription {
    line-height: 1.5;
  }
  .header__text {
    row-gap: 30px;
  }

  .content {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr minmax(auto, 700px) 1fr;
        grid-template: 1fr/1fr minmax(auto, 700px) 1fr;
  }

  .work {
    margin-top: 60px;
  }
  .work__tabs {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr minmax(auto, 400px) 150px minmax(auto, 150px) 1fr;
        grid-template: 1fr/1fr minmax(auto, 400px) 150px minmax(auto, 150px) 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 70px 0;
  }
  .work__case {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .work__item {
    position: relative;
    margin: 15px;
  }
  .work__item_2 {
    -ms-grid-row-span: 1;
    grid-row: span 1;
  }
  .work__item_4 {
    -ms-grid-row-span: 1;
    grid-row: span 1;
  }
  .work__item_5 {
    -ms-grid-row-span: 1;
    grid-row: span 1;
  }
  .work__image {
    min-height: 300px;
  }
  .work__image2 {
    min-height: 300px;
  }
  .work__button {
    margin-top: 20px;
  }

  .patners {
    margin: 50px 0;
  }
  .patners__item {
    margin: 20px 0;
  }

  .about {
    margin-bottom: 50px;
  }
  .about__top {
    margin-bottom: 10px;
  }
  .about__item:last-child {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
  .about__item-title {
    padding-left: 10px;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 30px;
  }
  .about__discription {
    padding-left: 10px;
    padding-bottom: 20px;
    text-align: center;
    line-height: 1.5;
  }
  .about__read-more {
    padding-left: 10px;
    text-align: center;
  }
  .about__cover {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }

  .blog {
    margin-bottom: 50px;
  }
  .blog__top {
    margin-bottom: 0px;
  }
  .blog__discription {
    line-height: 1.5;
    padding-bottom: 10px;
  }
  .blog__item {
    margin-top: 40px;
  }

  .contact {
    margin-bottom: 50px;
  }
  .contact__top {
    margin-bottom: 30px;
  }
  .contact__discription {
    line-height: 1.5;
    padding-bottom: 10px;
  }
  .contact__content {
    -ms-grid-columns: minmax(auto, 100%);
    grid-template-columns: minmax(auto, 100%);
    row-gap: 20px;
  }
  .contact__image {
    min-height: 300px;
  }
  .contact input, .contact textarea {
    width: 100%;
    text-align: center;
  }
  .contact__item-title {
    text-align: center;
  }
  .contact__button {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: none;
    margin-top: 70px;
  }
  .contact__button a {
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    background: #ffe600;
    padding: 15px 25px;
    -webkit-transition: font-weight, border-radius 0.2s ease;
    transition: font-weight, border-radius 0.2s ease;
  }
  .contact__button a:hover {
    border-radius: 20px;
    font-weight: 900;
    -webkit-transition: font-weight, border-radius 0.2s ease;
    transition: font-weight, border-radius 0.2s ease;
  }

  .title {
    font-size: 30px;
    line-height: 1.6;
  }

  .text {
    line-height: 1.5;
  }

  .footer {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr minmax(auto, 700px) 1fr;
        grid-template: 1fr/1fr minmax(auto, 700px) 1fr;
  }
}
@media (max-width: 740px) {
  .header {
    -ms-grid-rows: minmax(50px, auto) 1fr;
    -ms-grid-columns: 1fr;
        grid-template: minmax(50px, auto) 1fr/1fr;
  }
  .header__top {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 10px minmax(auto, 200px) 10px minmax(auto, 300px) 10px 1fr;
        grid-template: 1fr/1fr minmax(auto, 200px) minmax(auto, 300px) 1fr;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
  .header__content {
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr minmax(auto, 500px) 1fr;
        grid-template: 1fr 1fr/1fr minmax(auto, 500px) 1fr;
  }
  .header__image {
    min-height: 400px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .header__discription {
    line-height: 1.5;
  }
  .header__text {
    row-gap: 30px;
  }

  .content {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr minmax(auto, 500px) 1fr;
        grid-template: 1fr/1fr minmax(auto, 500px) 1fr;
  }

  .work {
    margin-top: 60px;
  }
  .work__tabs {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr minmax(auto, 400px) 1fr;
        grid-template: 1fr/1fr minmax(auto, 400px) 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px 0;
  }
  .work__time {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    padding-top: 15px;
  }
  .work__case {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .work__item {
    position: relative;
    margin: 15px;
  }
  .work__item_2 {
    -ms-grid-row-span: 1;
    grid-row: span 1;
  }
  .work__item_4 {
    -ms-grid-row-span: 1;
    grid-row: span 1;
  }
  .work__item_5 {
    -ms-grid-row-span: 1;
    grid-row: span 1;
  }
  .work__image {
    min-height: 400px;
  }
  .work__image2 {
    min-height: 400px;
  }
  .work__button {
    margin-top: 20px;
  }

  .patners {
    margin: 50px 0;
  }
  .patners__item {
    margin: 20px 0;
  }

  .about {
    margin-bottom: 50px;
  }
  .about__top {
    margin-bottom: 10px;
  }
  .about__item {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    margin: 15px 0;
  }
  .about__image img {
    -o-object-position: top;
       object-position: top;
  }
  .about__item-title {
    padding-left: 10px;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 30px;
  }
  .about__discription {
    padding-left: 10px;
    padding-bottom: 20px;
    text-align: center;
    line-height: 1.5;
  }
  .about__read-more {
    padding-left: 10px;
    text-align: center;
  }
  .about__cover {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }

  .blog {
    margin-bottom: 50px;
  }
  .blog__top {
    margin-bottom: 0px;
  }
  .blog__discription {
    line-height: 1.5;
    padding-bottom: 10px;
  }
  .blog__items {
    grid-template: 1fr/repeat(auto-fit, minmax(50%, 1fr));
  }
  .blog__item {
    margin-top: 40px;
  }

  .contact {
    margin-bottom: 50px;
  }
  .contact__top {
    margin-bottom: 30px;
  }
  .contact__discription {
    line-height: 1.5;
    padding-bottom: 10px;
  }
  .contact__content {
    -ms-grid-columns: minmax(auto, 100%);
    grid-template-columns: minmax(auto, 100%);
    row-gap: 20px;
  }

  .footer {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr minmax(auto, 500px) 1fr;
        grid-template: 1fr/1fr minmax(auto, 500px) 1fr;
  }
}
@media (max-width: 540px) {
  .header {
    -ms-grid-rows: minmax(20px, auto) 1fr;
    -ms-grid-columns: 1fr;
        grid-template: minmax(20px, auto) 1fr/1fr;
  }
  .header__top {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 10px minmax(auto, 100px) 10px minmax(auto, 300px) 10px 1fr;
        grid-template: 1fr/1fr minmax(auto, 100px) minmax(auto, 300px) 1fr;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
  .header__content {
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr minmax(auto, 400px) 1fr;
        grid-template: 1fr 1fr/1fr minmax(auto, 400px) 1fr;
  }
  .header__image {
    min-height: 350px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .header__discription {
    line-height: 1.5;
  }
  .header__text {
    row-gap: 30px;
  }

  .content {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr minmax(auto, 400px) 1fr;
        grid-template: 1fr/1fr minmax(auto, 400px) 1fr;
  }

  .work {
    margin-top: 60px;
  }
  .work__tabs {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr minmax(auto, 400px) 1fr;
        grid-template: 1fr/1fr minmax(auto, 400px) 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px 0;
  }
  .work__time {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    padding-top: 15px;
  }
  .work__case {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .work__item {
    position: relative;
    margin: 15px;
  }
  .work__item_2 {
    -ms-grid-row-span: 1;
    grid-row: span 1;
  }
  .work__item_4 {
    -ms-grid-row-span: 1;
    grid-row: span 1;
  }
  .work__item_5 {
    -ms-grid-row-span: 1;
    grid-row: span 1;
  }
  .work__image {
    min-height: 300px;
  }
  .work__image2 {
    min-height: 300px;
  }
  .work__button {
    margin-top: 20px;
  }

  .patners {
    margin: 50px 0;
  }
  .patners__item {
    margin: 20px 0;
  }

  .about {
    margin-bottom: 50px;
  }
  .about__top {
    margin-bottom: 10px;
  }
  .about__item {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    margin: 15px 0;
  }
  .about__image img {
    -o-object-position: top;
       object-position: top;
  }
  .about__item-title {
    padding-left: 10px;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 30px;
  }
  .about__discription {
    padding-left: 10px;
    padding-bottom: 20px;
    text-align: center;
    line-height: 1.5;
  }
  .about__read-more {
    padding-left: 10px;
    text-align: center;
  }
  .about__cover {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }

  .blog {
    margin-bottom: 50px;
  }
  .blog__top {
    margin-bottom: 0px;
  }
  .blog__discription {
    line-height: 1.5;
    padding-bottom: 10px;
  }
  .blog__items {
    grid-template: 1fr/repeat(auto-fit, minmax(50%, 1fr));
  }
  .blog__item {
    margin-top: 40px;
  }

  .contact {
    margin-bottom: 50px;
  }
  .contact__top {
    margin-bottom: 30px;
  }
  .contact__discription {
    line-height: 1.5;
    padding-bottom: 10px;
  }
  .contact__button {
    margin-top: 0px;
  }
  .contact__content {
    -ms-grid-columns: minmax(auto, 100%);
    grid-template-columns: minmax(auto, 100%);
    row-gap: 20px;
  }
  .contact__info {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .contact__item {
    padding: 20px 0;
  }
  .contact__social-media {
    max-width: 203px;
    padding: 20px 0;
  }
  .contact__social-media a {
    padding: 0 15px 0 0;
  }

  .footer {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr minmax(auto, 400px) 1fr;
        grid-template: 1fr/1fr minmax(auto, 400px) 1fr;
  }
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 540px) {
  .header {
    -ms-grid-rows: minmax(20px, auto) 1fr;
    -ms-grid-columns: 1fr;
        grid-template: minmax(20px, auto) 1fr/1fr;
  }
  .header__top {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 10px minmax(auto, 300px) 10px 1fr;
        grid-template: 1fr/1fr minmax(auto, 300px) 1fr;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
  .header__content {
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr minmax(auto, 300px) 1fr;
        grid-template: 1fr 1fr/1fr minmax(auto, 300px) 1fr;
  }
  .header__logo {
    text-align: center;
    padding-bottom: 15px;
  }
  .header__menu {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .header__image {
    min-height: 250px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .header__discription {
    line-height: 1.5;
  }
  .header__text {
    row-gap: 30px;
  }

  .content {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr minmax(auto, 300px) 1fr;
        grid-template: 1fr/1fr minmax(auto, 300px) 1fr;
  }

  .work {
    margin-top: 60px;
  }
  .work__tabs {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr minmax(auto, 300px) 1fr;
        grid-template: 1fr/1fr minmax(auto, 300px) 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px 0;
  }
  .work__type {
    padding: 5px 10px;
  }
  .work__time {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    padding-top: 15px;
  }
  .work__case {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .work__item {
    position: relative;
    margin: 15px;
  }
  .work__item_2 {
    -ms-grid-row-span: 1;
    grid-row: span 1;
  }
  .work__item_4 {
    -ms-grid-row-span: 1;
    grid-row: span 1;
  }
  .work__item_5 {
    -ms-grid-row-span: 1;
    grid-row: span 1;
  }
  .work__image {
    min-height: 300px;
  }
  .work__image2 {
    min-height: 300px;
  }
  .work__button {
    margin-top: 20px;
  }

  .patners {
    margin: 50px 0;
  }
  .patners__item {
    margin: 20px 0;
  }

  .about {
    margin-bottom: 50px;
  }
  .about__top {
    margin-bottom: 10px;
  }
  .about__item {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    margin: 15px 0;
  }
  .about__image img {
    -o-object-position: top;
       object-position: top;
  }
  .about__item-title {
    padding-left: 10px;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 30px;
  }
  .about__discription {
    padding-left: 10px;
    padding-bottom: 20px;
    text-align: center;
    line-height: 1.5;
  }
  .about__image {
    min-height: 300px;
  }
  .about__read-more {
    padding-left: 10px;
    text-align: center;
  }
  .about__cover {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    padding: 10px 20px;
    width: 60%;
  }

  .blog {
    margin-bottom: 50px;
  }
  .blog__top {
    margin-bottom: 0px;
  }
  .blog__discription {
    line-height: 1.5;
    padding-bottom: 10px;
  }
  .blog__items {
    grid-template: 1fr/repeat(auto-fit, minmax(50%, 1fr));
  }
  .blog__item {
    margin-top: 40px;
  }
  .blog__image {
    min-height: 200px;
  }

  .contact {
    margin-bottom: 50px;
  }
  .contact__top {
    margin-bottom: 30px;
  }
  .contact__discription {
    line-height: 1.5;
    padding-bottom: 10px;
  }
  .contact__button {
    margin-top: 0px;
  }
  .contact__content {
    -ms-grid-columns: minmax(auto, 100%);
    grid-template-columns: minmax(auto, 100%);
    row-gap: 20px;
  }
  .contact__info {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .contact__item {
    padding: 20px 0;
  }
  .contact__social-media {
    max-width: 203px;
    padding: 20px 0;
  }
  .contact__social-media a {
    padding: 0 15px 0 0;
  }

  .footer {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr minmax(auto, 310px) 1fr;
        grid-template: 1fr/1fr minmax(auto, 310px) 1fr;
    font-size: 12px;
  }
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}